.teste1 {
	color: rgb(255, 102, 153);
	font-size: 20px;
	display: block;
}

.divTeste {
	background: green;
	height: 800px;
	width: 600px;
}

#id_teste {
	background: blue;
	width: 200px;
	height: 200px;
	margin-top: 20px;
	margin-left: 200px;
	border-radius: 30px;
}

.button-style {
	background: red;
}